<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Želiš voziti robota v Narodni galeriji?</title>
    <meta name="description" content="Preko vožnje na daljavo si oglej prenovljeno narodno galerijo, preden jo odpremo.">
    <meta name="author" content="Luna\TBWA">

    <meta property="og:title" content="Želiš voziti robota v Narodni galeriji?" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="S pomočjo robota si med prvimi oglej prenovljeno Narodno galerijo!" />
    <meta property="og:image" content="http://pelji.se/static/ng/img/share_foto.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <!--    <meta name="twitter:site" content="@nytimes">-->
    <meta name="twitter:creator" content="@lunaTBWA">
    <meta name="twitter:title" content="Želiš voziti robota v Narodni galeriji?">
    <meta name="twitter:description" content="Preko vožnje na daljavo si oglej prenovljeno narodno galerijo, preden jo odpremo!">
    <meta name="twitter:image" content="http://pelji.se/static/ng/img/share_foto.jpg">

    <link rel="shortcut icon" href="http://www.ng-slo.si/si/images/ico/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/static/ng/css/fonts.css?123">

    <link rel="stylesheet" href="/static/ng/css/style.css?123">
    <link rel="stylesheet" href="/static/ng/css/drive.css?123">

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- <script>
        document.location.href = '../';
    </script> -->

    <div class="popup">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="closepopup pull-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>To je pogum!</h1>
                </div>
            </div>

            <div class="row">
                <div class="zaupaj col-md-8 col-md-offset-2">
                    <span>Zaupaj nam le še:</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--                                    <label for="input_ime">Ime</label>-->
                                    <input type="text" class="form-control" id="input_ime" placeholder="Ime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--                                    <label for="input_priimek">Priimek</label>-->
                                    <input type="text" class="form-control" id="input_priimek" placeholder="Priimek">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--                                    <label for="input_email">Email</label>-->
                                    <input type="email" class="form-control" id="input_email" placeholder="tvoj@email.com">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Potrjujem, da sem mladi voznik ali voznik z manj kot 3 leti izkušenj.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Strinjam se s sodelovanjem v nagradni igri »Vožnja z BMW i8« pod pogoji nagradne igre, kot so objavljeni na <a href="http://pelji.se/static/ng/pravila.pdf" target="_blank">spletni strani nagradne igre</a>.
                                        <br>Izrecno soglašam, da v primeru pridobitve nagrade organizator objavi moje ime, priimek in kraj bivanja na spletnih straneh <a href="http://www.zav-tilia.si" target="_blank">zavarovalnice Tilia</a>. Za potrebe plačila dohodnine od nagrade se zavezujem organizatorju dostaviti potrebne podatke.
                                        <br>Strinjam se, da se moji osebni podatki dani v okviru te nagradne igre lahko shranijo, uporabijo in obdelajo za namen sodelovanja v tej nagradni igri, kot je to podrobneje opredeljeno v Vsebini in pogojih nagradne igre »Vožnja z BMW i8«, objavljenih na <a href="http://pelji.se/static/ng/pravila.pdf" target="_blank">spletni strani nagradne igre</a>. Podatki bodo obravnavani v skladu z Zakonom o varovanju osebnih podatkov in bodo po zaključku akcije uničeni. Z danim soglasjem potrjujem, da sem seznanjen z namenom zbiranja in obdelave osebnih podatkov in se s takšnim namenom strinjam.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row lastrow">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Strinjam se, da organizator nagradne igre »Vožnja z BMW i8« zbrane podatke uporabi za namene neposrednega trženja in oglaševanja. Seznanjen sem, da lahko kadarkoli na s strani organizatorja nagradne igre zahtevam, da organizator trajno ali začasno preneha uporabljati podatke za namene neposrednega trženja.
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>

                    <button class="tilia-button signup-submit">Oddaj</button>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid header">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #30517e; text-align: center;">
        <div class="row">
            <div class="col-xs-12">
                <img src="/static/ng/img/navodila.png" style="display: inline-block;" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="jumbo">
        <div class="game">
            <img id="stream" src="http://pelji.se/sub/test" />
            <div class="interface hidden-xs">
                <div class="hidden mobileinterface">
                    <div class="mobilegasa"></div>
                    <div class="mobilerikverc"></div>
                </div>
                <div class="topcenter">
                    <div class="timer" id="time">03:00</div>
                    <div class="naprejnazaj hidden-xs">
                        <div class="nikamor"></div>
                        <div class="naprej hidden"></div>
                        <div class="nazaj hidden"></div>
                        <div class="direction"></div>
                    </div>
                </div>
                <div class="levodesno"></div>
            </div>
            <div class="message">
                <div class="message-touch visible-xs">
                    <h1>Namig:</h1>
                    <p>za boljšo vidljivost sedi za ekran računalnika!</p>
                </div>
                <div class="message-start hidden-xs"></div>
                <div class="message-finish hidden">
                    <h1>To je to :)</h1>
                    <p style="padding-left: 20px; padding-right: 20px;">Povej naprej in obišči Narodno galerijo še v živo!</p>
                    <div class="share fb"></div>
                    <div class="share tw"></div>
                    <!--                    <div class="share url"></div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row odstavek scrollgoal">
            <!--            <div class="col-sm-6 col-md-3">-->
            <!--                <img src="/static/img/ferrari.png" class="img-responsive img-circle">-->
            <!--            </div>-->
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <h2 style="text-align: center; margin-top: 0;">Spodaj si lahko slike ogledaš bolj podrobno. Pogled se osveži vsakih 5 sekund.</h2>
            </div>
        </div>
    </div>



<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <img class="img-responsive" style="display: inline-block;" src="http://pelji.se/sub/testis">
                </div>
            </div>
        </div>
    </div>
-->

    <div class="container">

        <div class="row odstavek scrollgoal">
            <!--            <div class="col-sm-6 col-md-3">-->
            <!--                <img src="/static/img/ferrari.png" class="img-responsive img-circle">-->
            <!--            </div>-->
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <h1>Kdo lahko sodeluje?</h1>
                <p>V vožnji na daljavo lahko sodelujejo vsi. Število mest za vožnjo je omejeno, zato se prijavi čim prej.</p>
            </div>
        </div>
        <div class="row odstavek">
            <!--            <div class="col-sm-6 col-md-3">-->
            <!--                <img src="/static/img/ferrari.png" class="img-responsive img-circle">-->
            <!--            </div>-->
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <h1>Kdaj bodo potekale vožnje?</h1>
                <p>Vožnje bodo časovno omejene, saj bodo na voljo le en dan. Potekale bodo 25. januarja. O točni uri tvoje vožnje te obvestimo po elektronski pošti.</p>
            </div>
        </div>
        <div class="row odstavek">
            <!--            <div class="col-sm-6 col-md-3">-->
            <!--                <img src="/static/img/ferrari.png" class="img-responsive img-circle">-->
            <!--            </div>-->
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <h1>Kaj lahko počnem v Narodni galeriji?</h1>
                <p>Narodna galerija razstavlja najpomembnejše umetnine od srednjega veka do konca 20. stoletja. Pri nas si lahko ogledaš neprecenljivo slovensko dediščino ter gradnike narodne kulture. Vabimo tudi v Vhodno avlo, kjer je veličastni originalni Robbov vodnjak in kavarna Zvezda s prostim dostopom do interneta.</p>
            </div>
        </div>

        <div class="row odstacek">
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <p><a href="http://pelji.se/static/ng/narodna_pogoji.pdf" target="_blank">Pravila in pogoji</a></p>
            </div>
        </div>
<!--
        <div class="row odstavek">
                        <div class="col-sm-6 col-md-3">
                            <img src="/static/img/ferrari.png" class="img-responsive img-circle">
                        </div>
            <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <h1>Kdo bo zmagovalec?</h1>
                <p>Zmagovalca bomo poiskali z žrebanjem, in to med vsemi mladimi vozniki oz. vsemi z manj kot 3 leti vozniških izkušenj, ki boste spretnostno vožnjo na daljavo uspešno opravili.</p>
            </div>
        </div>
-->
    </div>

    <input type="hidden" id="driversecret" value="{{ driver.unique_string }}">
    <input type="hidden" id="furaid" value="{{ fura.id }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/ng/js/csrf.js"></script>
    <script src="/static/ng/js/stopwatch.js"></script>

    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
    <script src="/static/sweetalert/sweetalert.min.js"></script>

    <script src="/static/ng/js/signup.js"></script>
    <script src="/static/ng/js/share.js"></script>
    <script src="/static/ng/js/drive3.js"></script>

    <script>
        function msieversion() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            var ms11 = ua.indexOf("rv:11");

            if (msie > 0 || ms11 > 0) // If Internet Explorer, return version number
                swal({
                'title': 'Ups!',
                'text': 'Za varno vožnjo priporočamo le najboljšo opremo. Naloži si Chrome.',
                'type': 'warning'
            });
            else // If another browser, return 0
                console.log('all good');
            return false;
        }
        msieversion();

        $( document ).ready(function() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            setInterval(
                function(){
                    keep_alive();
                },
            5000);
        });
        function keep_alive(){
            var feedback = $.ajax({
                type: "POST",
                url: "/iAmHere/{{ driver.unique_string }}",
            }).success(function(){
            }).responseText;
        }

        function postImage1(url) {
          var wallPost = {
            message: "Test to post a photo",
            picture: url
          };
          FB.api('/me/feed', 'post', wallPost , function(response) {
            if (!response || response.error) {
              alert('Failure! ' + response.status + ' You may logout once and try again');
            } else {
              alert('Success! Post ID: ' + response);
            }
          });
        }
        function getImage(){
            $.get( "http://pelji.se/getImage", function( data ) {
                url = 'https://www.facebook.com/dialog/share?app_id=290563391104397&display=popup&href=' + encodeURIComponent(data.url) + '&redirect_uri=' + encodeURIComponent("http://pelji.se/") + '&ref=responsive';
        	window.open(url, '_blank');
	    });
        }
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//www.zy.si/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 3]);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//www.zy.si/piwik.php?idsite=3" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Piwik Code -->

</body>

</html>
